openapi: 3.1.0
info:
  title: Hotel Etuna API
  description: |
    Hotel Etuna PMS (Property Management System) API
    
    A comprehensive hospitality management platform with:
    - Multi-tenant architecture (Hub-and-Spoke model)
    - Booking and folio management
    - Restaurant and inventory operations
    - Sofia AI concierge
    - Compliance (PSD-12, AML, KYC)
    - Fraud detection
    - Payment processing (Adumo Virtual, NamQR)
    
    ## Authentication
    Most endpoints require authentication via Stack Auth. Use `withApiAuth` wrapper.
    
    ## Rate Limiting
    Authenticated endpoints have rate limiting enabled.
    
    ## Multi-Tenancy
    All tenant-scoped data is isolated via RLS policies.
  version: 1.0.0
  contact:
    name: Hotel Etuna Support
    email: admin@hoteletuna.com

servers:
  - url: https://hoteletuna.com
    description: Production server
  - url: http://localhost:3000
    description: Development server

tags:
  - name: Bookings
    description: Booking management and availability
  - name: Payments
    description: Payment processing and transactions
  - name: Sofia AI
    description: AI concierge and email services
  - name: CRM
    description: Customer relationship management
  - name: Fraud
    description: Fraud detection and alerts
  - name: Compliance
    description: Regulatory compliance (KYC, AML, PSD)
  - name: Housekeeping
    description: Room cleaning and maintenance
  - name: Inventory
    description: Stock management and alerts
  - name: Public
    description: Public endpoints (no auth required)
  - name: Cron
    description: Scheduled background jobs

paths:
  # ===========================================
  # Bookings API
  # ===========================================
  /api/bookings:
    get:
      tags:
        - Bookings
      summary: List bookings for a property
      description: Returns bookings for a specific property with optional date filtering
      security:
        - cookieAuth: []
      parameters:
        - name: propertyId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: Property UUID
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            pattern: '^\d{4}-\d{2}-\d{2}$'
          description: Start date filter (YYYY-MM-DD)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Booking'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - Bookings
      summary: Create a new booking
      description: Creates a booking for an authenticated user
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingCreate'
      responses:
        '201':
          description: Booking created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/bookings/availability:
    get:
      tags:
        - Bookings
      summary: Check room availability
      description: Check available rooms for given date range
      security:
        - cookieAuth: []
      parameters:
        - name: propertyId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: checkIn
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: checkOut
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Availability data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AvailabilitySlot'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/bookings/{id}:
    get:
      tags:
        - Bookings
      summary: Get booking by ID
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Booking found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ===========================================
  # Payments API
  # ===========================================
  /api/payments/virtual/initiate:
    post:
      tags:
        - Payments
      summary: Initiate Adumo Virtual payment
      description: Start a hosted payment page session
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentInitiate'
      responses:
        '200':
          description: Payment session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSession'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /api/payments/virtual/confirm:
    post:
      tags:
        - Payments
      summary: Confirm Adumo Virtual payment
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentConfirm'
      responses:
        '200':
          description: Payment confirmed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/payments/namqr/generate:
    post:
      tags:
        - Payments
      summary: Generate NamQR payment code
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NamQrGenerate'
      responses:
        '200':
          description: QR code generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamQrCode'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/payments/namqr/pending:
    get:
      tags:
        - Payments
      summary: List pending NamQR confirmations
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Pending confirmations list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NamQrPending'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ===========================================
  # Sofia AI API
  # ===========================================
  /api/sofia/email:
    post:
      tags:
        - Sofia AI
      summary: Send email via Sofia
      description: Send an email using the Sofia email service
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailSend'
      responses:
        '200':
          description: Email sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/ai/concierge:
    post:
      tags:
        - Sofia AI
      summary: Chat with Sofia AI concierge
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatMessage'
      responses:
        '200':
          description: Chat response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ===========================================
  # CRM API
  # ===========================================
  /api/crm/guests:
    get:
      tags:
        - CRM
      summary: List guests
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Guest list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Guest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/crm/loyalty/transactions:
    get:
      tags:
        - CRM
      summary: List loyalty transactions
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Loyalty transactions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LoyaltyTransaction'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ===========================================
  # Fraud API
  # ===========================================
  /api/fraud/alerts:
    get:
      tags:
        - Fraud
      summary: List fraud alerts
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Fraud alerts list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FraudAlert'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/fraud/statistics:
    get:
      tags:
        - Fraud
      summary: Get fraud statistics
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Fraud statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FraudStatistics'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/fraud/analyze:
    post:
      tags:
        - Fraud
      summary: Analyze transaction for fraud risk
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FraudAnalyze'
      responses:
        '200':
          description: Analysis result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FraudAnalysis'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ===========================================
  # Compliance API
  # ===========================================
  /api/compliance/kyc-cases:
    get:
      tags:
        - Compliance
      summary: List KYC verification cases
      security:
        - cookieAuth: []
      responses:
        '200':
          description: KYC cases list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/KycCase'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/compliance/aml/reports/dashboard:
    get:
      tags:
        - Compliance
      summary: Get AML dashboard data
      security:
        - cookieAuth: []
      responses:
        '200':
          description: AML dashboard data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AmlDashboard'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/compliance/psd/bon-incident:
    post:
      tags:
        - Compliance
      summary: Report incident to Bank of Namibia
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BonIncidentReport'
      responses:
        '200':
          description: Incident reported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BonSubmissionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ===========================================
  # Housekeeping API
  # ===========================================
  /api/housekeeping/tasks:
    get:
      tags:
        - Housekeeping
      summary: List housekeeping tasks
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Tasks list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HousekeepingTask'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/housekeeping/tasks/{id}:
    get:
      tags:
        - Housekeeping
      summary: Get housekeeping task by ID
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Task found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HousekeepingTask'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ===========================================
  # Inventory API
  # ===========================================
  /api/inventory/items:
    get:
      tags:
        - Inventory
      summary: List inventory items
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Inventory items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InventoryItem'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/inventory/alerts:
    get:
      tags:
        - Inventory
      summary: List inventory alerts
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Alerts list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StockAlert'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ===========================================
  # Public API
  # ===========================================
  /api/public/properties/{slug}:
    get:
      tags:
        - Public
      summary: Get public property by slug
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Property found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicProperty'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/public/restaurant/menu/{slug}:
    get:
      tags:
        - Public
      summary: Get public restaurant menu
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Menu found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicMenu'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/public/room-qr/{code}:
    get:
      tags:
        - Public
      summary: Get room QR code info
      security: []
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: QR code found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomQrInfo'
        '404':
          $ref: '#/components/responses/NotFound'

  # ===========================================
  # Cron API
  # ===========================================
  /api/cron/booking-reminders:
    get:
      tags:
        - Cron
      summary: Send booking reminders
      description: Scheduled job to send booking reminders
      security:
        - cronSecret: []
      responses:
        '200':
          description: Job completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CronResult'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/cron/email-inbox-monitor:
    get:
      tags:
        - Cron
      summary: Monitor email inbox
      description: Scheduled job to process incoming emails
      security:
        - cronSecret: []
      responses:
        '200':
          description: Job completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CronResult'
        '401':
          $ref: '#/components/responses/Unauthorized'

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: stack-hs
      description: Stack Auth session cookie
    cronSecret:
      type: apiKey
      in: header
      name: x-cron-secret
      description: CRON_SECRET for scheduled jobs

  responses:
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized - authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ServiceUnavailable:
      description: Service not configured
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    # Core entities
    Booking:
      type: object
      properties:
        id:
          type: string
          format: uuid
        bookingReference:
          type: string
        checkInDate:
          type: string
          format: date
        checkOutDate:
          type: string
          format: date
        numGuests:
          type: integer
        status:
          type: string
          enum: [pending, confirmed, checked_in, checked_out, cancelled]
        totalAmount:
          type: number
          format: decimal
        paymentStatus:
          type: string
          enum: [pending, paid, failed, refunded]
        guestId:
          type: string
          format: uuid
        roomId:
          type: string
          format: uuid
        propertyId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time

    BookingCreate:
      type: object
      required: [checkInDate, checkOutDate, numGuests, roomId]
      properties:
        checkInDate:
          type: string
          format: date
        checkOutDate:
          type: string
          format: date
        numGuests:
          type: integer
          minimum: 1
        roomId:
          type: string
          format: uuid

    AvailabilitySlot:
      type: object
      properties:
        roomId:
          type: string
          format: uuid
        date:
          type: string
          format: date
        available:
          type: boolean
        rate:
          type: number
          format: decimal

    # Payment schemas
    PaymentInitiate:
      type: object
      required: [bookingId]
      properties:
        bookingId:
          type: string
          format: uuid
        amount:
          type: number
          format: decimal
        purpose:
          type: string
          enum: [booking_deposit, folio_settle]
          default: booking_deposit
        returnSuccessUrl:
          type: string
          format: uri
        returnFailUrl:
          type: string
          format: uri

    PaymentConfirm:
      type: object
      required: [paymentId]
      properties:
        paymentId:
          type: string
          format: uuid

    PaymentSession:
      type: object
      properties:
        actionUrl:
          type: string
          format: uri
        fields:
          type: object
          additionalProperties:
            type: string
        merchantReference:
          type: string

    PaymentResult:
      type: object
      properties:
        success:
          type: boolean
        status:
          type: string
        transactionId:
          type: string
          format: uuid

    NamQrGenerate:
      type: object
      required: [bookingId]
      properties:
        bookingId:
          type: string
          format: uuid
        amount:
          type: number
          format: decimal

    NamQrCode:
      type: object
      properties:
        code:
          type: string
        qrUrl:
          type: string
          format: uri
        expiresAt:
          type: string
          format: date-time

    NamQrPending:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
        amount:
          type: number
          format: decimal
        status:
          type: string
          enum: [pending, approved, rejected]
        createdAt:
          type: string
          format: date-time

    # Sofia AI schemas
    ChatMessage:
      type: object
      required: [message]
      properties:
        message:
          type: string
        conversationId:
          type: string
          format: uuid

    ChatResponse:
      type: object
      properties:
        message:
          type: string
        conversationId:
          type: string
          format: uuid

    EmailSend:
      type: object
      required: [to, subject, emailBody]
      properties:
        to:
          type: string
          format: email
        subject:
          type: string
        emailBody:
          type: string
        ctaLink:
          type: string
          format: uri
        ctaText:
          type: string
        templateId:
          type: string
        metadata:
          type: object

    EmailResult:
      type: object
      properties:
        message:
          type: string
        messageId:
          type: string

    # CRM schemas
    Guest:
      type: object
      properties:
        id:
          type: string
          format: uuid
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        loyaltyPoints:
          type: integer

    LoyaltyTransaction:
      type: object
      properties:
        id:
          type: string
          format: uuid
        guestId:
          type: string
          format: uuid
        points:
          type: integer
        type:
          type: string
          enum: [earned, redeemed, expired]
        description:
          type: string
        createdAt:
          type: string
          format: date-time

    # Fraud schemas
    FraudAlert:
      type: object
      properties:
        id:
          type: string
          format: uuid
        transactionId:
          type: string
          format: uuid
        severity:
          type: string
          enum: [low, medium, high, critical]
        status:
          type: string
          enum: [open, investigating, resolved, dismissed]
        reason:
          type: string
        createdAt:
          type: string
          format: date-time

    FraudStatistics:
      type: object
      properties:
        totalAlerts:
          type: integer
        openAlerts:
          type: integer
        resolvedToday:
          type: integer
        averageRiskScore:
          type: number
          format: float

    FraudAnalyze:
      type: object
      required: [transactionId]
      properties:
        transactionId:
          type: string
          format: uuid

    FraudAnalysis:
      type: object
      properties:
        riskScore:
          type: number
          format: float
        riskLevel:
          type: string
          enum: [low, medium, high, critical]
        flags:
          type: array
          items:
            type: string

    # Compliance schemas
    KycCase:
      type: object
      properties:
        id:
          type: string
          format: uuid
        guestId:
          type: string
          format: uuid
        status:
          type: string
          enum: [pending, verified, rejected, requires_review]
        verificationLevel:
          type: string
          enum: [basic, enhanced]
        createdAt:
          type: string
          format: date-time

    AmlDashboard:
      type: object
      properties:
        totalReports:
          type: integer
        pendingReviews:
          type: integer
        pepMatches:
          type: integer
        suspiciousTransactions:
          type: integer

    BonIncidentReport:
      type: object
      required: [incidentId]
      properties:
        incidentId:
          type: string
          format: uuid
        reportType:
          type: string
          enum: [preliminary_24h, impact_assessment_30d]
        financialLoss:
          type: number
          format: decimal
        dataLossRecords:
          type: integer
        availabilityLossMinutes:
          type: integer
        affectedUsersCount:
          type: integer
        affectedSystems:
          type: array
          items:
            type: string

    BonSubmissionResponse:
      type: object
      properties:
        success:
          type: boolean
        bonReference:
          type: string
        acknowledged:
          type: boolean
        message:
          type: string

    # Housekeeping schemas
    HousekeepingTask:
      type: object
      properties:
        id:
          type: string
          format: uuid
        roomId:
          type: string
          format: uuid
        status:
          type: string
          enum: [pending, in_progress, completed, skipped]
        priority:
          type: string
          enum: [low, medium, high, urgent]
        assignedTo:
          type: string
          format: uuid
        dueDate:
          type: string
          format: date-time

    # Inventory schemas
    InventoryItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        sku:
          type: string
        currentStock:
          type: number
        unit:
          type: string
        reorderLevel:
          type: number

    StockAlert:
      type: object
      properties:
        id:
          type: string
          format: uuid
        itemId:
          type: string
          format: uuid
        itemName:
          type: string
        currentStock:
          type: number
        reorderLevel:
          type: number
        severity:
          type: string
          enum: [low, critical]

    # Public schemas
    PublicProperty:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        address:
          type: string
        amenities:
          type: array
          items:
            type: string

    PublicMenu:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        categories:
          type: array
          items:
            $ref: '#/components/schemas/MenuCategory'

    RoomQrInfo:
      type: object
      properties:
        roomId:
          type: string
          format: uuid
        roomNumber:
          type: string
        propertyId:
          type: string
          format: uuid
        bookingId:
          type: string
          format: uuid

    MenuCategory:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/MenuItem'

    MenuItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        price:
          type: number
          format: decimal

    # Cron schemas
    CronResult:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        processed:
          type: integer

    # Error response
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
        fieldErrors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
